html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    background-image: url('./assets/png/southwest_us_map_small.png');
    height: 100%;
    width: 100%;
}

.ironman {
    position: absolute;
    display: none;
    height: 50px;
}

.fire {
    position: absolute;
    display: 'none';
    height: 50px;
}

